@reference "tailwindcss";
@reference "../../../../../styles/globals.css";

.json-view-container {
  @apply whitespace-pre-wrap font-mono text-sm pl-1;
}

.punctuation {
  @apply text-muted-foreground;
}

.expander {
  @apply mr-1;
}

.expand-icon,
.collapse-icon {
  @apply inline-flex w-[14px] ml-[-14px] text-lg leading-none text-muted-foreground/40;
}

.expand-icon::after {
  content: "▸";
}

.collapse-icon::after {
  content: "▾";
}

.collapsed-content {
  @apply mx-1;
}

.collapsed-content::after {
  content: "...";
}

.basic-element-style {
  @apply my-1 mx-4 p-0;
}

.label,
.clickable-label {
  @apply mr-2 font-semibold;
}

.value-string {
  @apply text-sky-400;
}

.value-number,
.value-boolean,
.value-null,
.value-undefined,
.value-other {
  @apply text-rose-400;
}

/* .collapse-icon {} */
/* .expand-icon {} */
