@reference "tailwindcss";
@reference "../../../../../styles/globals.css";

.json-view-container {
  @apply whitespace-pre-wrap font-mono text-xs pl-1 break-all;
}

.punctuation {
  @apply text-muted-foreground;
}

.expander {
  @apply mr-1;
}

.expand-icon,
.collapse-icon {
  @apply inline-flex w-[14px] ml-[-14px] text-lg leading-none text-muted-foreground/40;
}

.expand-icon::after {
  content: "▸";
}

.collapse-icon::after {
  content: "▾";
}

.collapsed-content {
  @apply mx-1;
}

.collapsed-content::after {
  content: "...";
}

.basic-element-style {
  @apply my-1 mx-4 p-0;
}

.label,
.clickable-label {
  @apply mr-2 text-foreground;
}

.value-string {
  @apply text-lime-500 dark:text-lime-400;
}

.value-number {
  @apply text-cyan-500 dark:text-cyan-400;
}

.value-boolean {
  @apply text-purple-500 dark:text-purple-400;
}

.value-null,
.value-undefined {
  @apply text-gray-400 dark:text-gray-500 italic;
}

.value-other {
  @apply text-yellow-500 dark:text-yellow-400;
}

/* .collapse-icon {} */
/* .expand-icon {} */
